.movieItem {
  width: 300px;
  margin: 10px;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background: brown;

  .movieImg {
    width: 100%;
    height: auto;
    cursor: pointer;
  }

  .movieInfo {
    padding: 15px;
    display: flex;
    justify-content: space-between;

    .movieTitle {
      font-size: 1.2em;
      font-weight: bold;
      color: #fff;
    }

    .removeBtn {
      background: #fff;
      color: brown;
      border: none;
      padding: 8px 16px;
      border-radius: 5px;
      cursor: pointer;
    }
  }
}
